$light-blue: #e3e6f0;
$blue: rgb(78, 115, 223);
$dark-blue: #224abe;
$indigo: #6610f2;
$purple: rgb(111, 66, 193);
$pink: #e83e8c;
$red: #e74a3b;
$dark-red: #e02d1b;
$orange: #fd7e14;
$yellow: #f6c23e;
$dark-yellow: #f4b619;
$light-yellow: #fcf8e3;
$green: #1cc88a;
$dark-green: #17a673;
$teal: #20c9a6;
$cyan: #36b9cc;
$dark-cyan: #2c9faf;
$white: #fff;
$gray: #858796;
$dark-gray: #5a5c69;
$primary: $blue;
$primary-dark: $dark-blue;
$secondary: $gray;
$success: $green;
$success-dark: $dark-green;
$info: $cyan;
$info-dark: $dark-cyan;
$warning: $yellow;
$warning-dark: $dark-yellow;
$danger: $red;
$danger-dark: $dark-red;
$highlight: $light-yellow;
$light: #f8f9fc;
$dark: $dark-gray;